<div class="flex flex-col items-center pt-8">
  <div class="card w-96 h-[350px] bg-base-100 shadow-sm flex flex-col">
    <div class="card-body flex flex-col">
      <span class="badge badge-xs badge-success text-black">Free</span>
      <div class="flex justify-between">
        <h2 class="text-3xl font-bold">Plan Gratuito</h2>
        <span class="text-xl">$0/mes</span>
      </div>
      <ul class="mt-6 flex flex-col gap-2 text-xs flex-grow">
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
          </svg>
          <span>Gestiona hasta 3 alumnos.</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
          </svg>
          <span>1 rutina personalizada por alumno.</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
          </svg>
          <span>Ideal para comenzar y probar la plataforma.</span>
        </li>

        <!-- Funciones bloqueadas -->

        <li class="opacity-50">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-base-content/50"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
          </svg>
          <span class="line-through">Crea rutinas personalizadas en PDF.</span>
        </li>

        <li class="opacity-50">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-base-content/50"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
          </svg>
          <span class="line-through">Soporte prioritario.</span>
        </li>
        <li class="opacity-50">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-base-content/50"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
          </svg>
          <span class="line-through">Recordatorios automáticos.</span>
        </li>
      </ul>
      <div class="mt-6">
        <button class="btn btn-outline btn-block transition duration-300 transform hover:scale-105 hover:shadow-lg">Empezar gratis</button>
      </div>
    </div>
  </div>
</div>
