<div class="flex items-center justify-center h-screen">
  <form [formGroup]="form" autocomplete="off">
    <fieldset
      class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 shadow-2xl"
      autocomplete="off"
    >
      <div>
        <label class="label">Nombre real</label>
        <input
          type="text"
          class="input"
          placeholder="Javier"
          formControlName="name"
        />
      </div>

      <div>
        <label class="label">Nombre de usuario</label>
        <input
          type="text"
          class="input"
          placeholder="Usuario"
          formControlName="username"
        />
      </div>

      <div>
        <label class="label">Email</label>
        <input
          type="email"
          class="input"
          placeholder="cuenta@gmail.com"
          formControlName="email"
        />
      </div>

      <div>
        <label class="label">Contraseña</label>
        <input
          type="password"
          class="input"
          placeholder="Contraseña"
          formControlName="password"
        />
      </div>

      <div>
        <label class="label">Confirma tu Contraseña</label>
        <input type="password" class="input" placeholder="Contraseña" />
      </div>

      <button class="btn btn-neutral mt-4" (click)="crearCuenta()">Crear cuenta</button>
    </fieldset>
  </form>
</div>
