<div class="flex flex-col min-h-screen">
  <app-navbar></app-navbar>
  <div class="hero flex-grow">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="entrenador.png" class="max-w-sm rounded-lg" />
      <div>
        <h1 class="text-5xl font-bold">
          Gestiona alumnos y crea entrenamientos personalizados
        </h1>
        <button class="btn btn-neutral mt-4">Únete ahora</button>
      </div>
    </div>
    <app-theme-controller class="fixed bottom-4 left-4 z-50"></app-theme-controller>
  </div>
</div>
