<div class="flex flex-col min-h-screen">
  <app-navbar></app-navbar>
<app-theme-controller class="bg-base-200 p-4"></app-theme-controller>
  <div class="hero bg-base-200 flex-grow">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="entrenador.png" class="max-w-sm rounded-lg" />
      <div>
        <h1 class="text-5xl font-bold">
          Gestiona alumnos y crea entrenamientos personalizados
        </h1>
        <p class="py-6">
          Simplifica tu trabajo con herramientas para administrar clientes y
          diseñar planes efectivos.
        </p>
        <button class="btn btn-neutral">Únete ahora</button>
      </div>
    </div>
  </div>
</div>
