<div class="flex flex-col items-center pt-8">
  <div class="card w-96 h-[350px] bg-base-100 shadow-sm flex flex-col">
    <div class="card-body flex flex-col">
      <span class="badge badge-xs badge-warning">Más popular</span>
      <div class="flex justify-between">
        <h2 class="text-3xl font-bold">Plan Premium</h2>
        <span class="text-xl">$10.000/mes</span>
      </div>
      <ul class="mt-6 flex flex-col gap-2 text-xs flex-grow">
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
          </svg>
          <span>Dashboard con tus estadísticas de ganancia</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
          </svg>
          <span>Gestiona hasta 10 alumnos al mismo tiempo</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
          </svg>
          <span>Crea rutinas personalizadas en PDF </span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
          </svg>
          <span>Envía recordatorios automáticos a tus alumnos</span>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 me-2 inline-block text-success"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
          </svg>
          <span>Acceso a soporte prioritario cuando lo necesites</span>
        </li>
      </ul>
      <div class="mt-6">
        <button class="btn btn-primary btn-block">Suscribirse</button>
      </div>
    </div>
  </div>
</div>
